body {
    margin: 0;
}

#main {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(6,auto);
    grid-template-areas: 
    "header header header header"
    "performing performing backgroundInfo backgroundInfo"
    "credit credit credit credit"
    "typical_of_me eikal bewitched bewitched_goddess"
    "songDiv songDiv songDiv songDiv"
    "footer footer footer footer";
    grid-gap: 0.5rem;
    background: #0D1F00;
    color: #C0D5B0;
    font-family: "Libre Franklin", sans-serif;
    box-sizing: border-box;
    padding: 1rem;
}

#header {
    grid-area: header;
    justify-self: center;
    font-size: 5rem;
    font-family: "Grenze Gotisch", serif;
    line-height: 5rem;
    text-align: center;
    text-shadow: .05em .05em #0D1F00;
    margin-top: 1rem;
}

#performing {
    grid-area: performing;
    justify-self: right;
    align-self: center;
    box-shadow: 2px 2px 4px 1px #0D1F00;
    max-width: 100%;
    margin-right: 0.5rem;
}
#credit {
    grid-area: credit;
    justify-self: center;
    font-size: 0.6rem;
}

#backgroundInfo {
    grid-area: backgroundInfo;
    background: #C0D5B0;
    color: #0D1F00;
    line-height: 1.5rem;
    justify-self: left;
    font-size: 0.7rem;
    box-shadow: 2px 2px 4px 1px #0D1F00;
    max-width: 450px;
    padding: 1rem;
    max-width: 350px;
    margin-left: 0.5rem;
}

#typical_of_me {
    grid-area: typical_of_me;
}
#eikal {
    grid-area: eikal;
}
#bewitched {
    grid-area: bewitched;
}
#bewitched_goddess {
    grid-area: bewitched_goddess;
}

#footer {
    grid-area: footer;
    justify-self: center;
    line-height: 1.25rem;
    font-size: 0.6rem;
}

.songDiv{
    grid-area: songDiv;
    justify-self: center;
}

.album {
    max-width: 100%;
    justify-self: center;
}

.songCaption {
    justify-self: center;
}

a:link {
    color: #fff;
}

a:visited {
    color: #fff;
}

a:hover {
    color: #000;
    background:#C0D5B0;
}

a:focus {
    color: #000;
    background:#C0D5B0;
}

@media (max-width: 641px) {
    #main {
    display: grid;
    grid-template-columns: repeat(4,auto);
    grid-template-rows: repeat(7,auto);
    grid-template-areas: 
    "header header header header"
    "performing performing performing performing"
    "credit credit credit credit"
    "backgroundInfo backgroundInfo backgroundInfo backgroundInfo"
    "typical_of_me eikal bewitched bewitched_goddess"
    "songDiv songDiv songDiv songDiv"
    "footer footer footer footer";
    grid-column-gap: 0.5rem;
    max-width: 100%;
    }

    #performing {
        grid-area: performing;
        justify-self: center;
        align-self: center;
        box-shadow: 2px 2px 4px 1px #0D1F00;
        max-width: 100%;
        margin-right: 0.5rem;
    }

    #backgroundInfo {
        grid-area: backgroundInfo;
        background: #C0D5B0;
        color: #0D1F00;
        line-height: 1.5rem;
        justify-self: center;
        font-size: 0.7rem;
        box-shadow: 2px 2px 4px 1px #0D1F00;
        max-width: 450px;
        padding: 1rem;
        max-width: 350px;
        margin-left: 0.5rem;
    }
}

@media (max-width: 500px) {
    #main {
    display: grid;
    grid-template-columns: repeat(2,auto);
    grid-template-rows: repeat(7,auto);
    grid-template-areas: 
    "header header"
    "performing performing"
    "credit credit"
    "backgroundInfo backgroundInfo"
    "typical_of_me eikal"
    "bewitched bewitched_goddess"
    "songDiv songDiv"
    "footer footer";
    grid-column-gap: 0.5rem;
    max-width: 100%;
}}